<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table class='table' *ngIf="projects">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Time</th>
                <th>Number of employees</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects">
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.time }}</td>
                <td>{{ project.employees }}</td>
            </tr>
        </tbody>
    </table>

</body>
</html>